.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.gif{
    width: 18rem;
    border-radius: 0.5em;
    box-shadow: rgba(0,0,0,0.1) 5px 5px 5px;
}

.haname{
    color: rgb(43, 43, 43);
    font-family: yu-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.3em;
    margin-top: 1em;

}

.hanakotoba{
    color: rgb(43, 43, 43);
  font-family: yu-gothic-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7rem;
  letter-spacing: 0.2em;
  margin-top: -0.8em;
}