.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.fixed-div{
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-size: 1vw;
}

.logo {
  z-index: 2;
  position: fixed;
  transition: 1s;
  height: 3em;
  top: 3em;
  left: 4em;
}

.title {
  z-index: 2;
  position: fixed;
  transition: 1s;
  height: 2em;
  top: 3.5em;
  left: 7.5em;
}

.container {
  width: 80vw;
  padding-top: 15vh;
  padding-bottom: 10vh;
  display: flex;
  gap: 2em 2em;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.flower {
  width: auto;
}

.hamburger {
  font-size: 1rem;
}

.menu {
  z-index: 1;
  position: fixed;
  right: -35vw;
  top: 0;
}

.menu-show {
  right: 0;
}

@media screen and (max-width: 959px) {
  .logo {
    transition: 0.5s;
    height: 3rem;
    top: 3rem;
    left: 2rem;
  }
  .title {
    transition: 0.5s;
    top: 3.4rem;
    height: 2rem;
    left: 5.5rem;
  }
  .hamburger {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    transition: 0.5s;
    height: 5vh;
    top: 11em;
    left: 7em;
  }
  .title {
    transition: 0.5s;
    top: 13.5em;
    height: 5em;
    left: 22em;
  }
  .hamburger {
    font-size: 3.5vw;
  }
  .menu {
    right: -45vw;
  }
  .menu-show {
    right: 0;
  }
}
