.hamburger1 {
  transition: 0.8s;
  position: fixed;
  top: 3.5em;
  right: 4em;
  width: 1.8em;
  height: 2px;
  border-radius: 0.05em;
  background-color: #fff;
  transform-origin: 0% 50%;
}

.hamburger2 {
  transition: 0.8s;
  position: fixed;
  top: 4.2em;
  right: 4em;
  width: 1.8em;
  height: 2px;
  border-radius: 0.05em;
  background-color: #fff;
  transform-origin: 0% 50%;
}

.hamburger3 {
  transition: 0.8s;
  position: fixed;
  top: 4.9em;
  right: 4em;
  width: 1.8em;
  height: 2px;
  border-radius: 0.05em;
  background-color: #fff;
  transform-origin: 0% 50%;
}

.hamburger-content {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  top: 3.15em;
  right: 3.6em;
  width: 2.6em;
  height: 2.2em;
  &.change-shape {
    .hamburger1 {
      transform: rotate(45deg);
      width: 2.5452em;
      right: 3.3em;
      top: 3.3em;
    }
    .hamburger2 {
      right: 5.8em;
      width: 0;
    }
    .hamburger3 {
      transform: rotate(-45deg);
      width: 2.5452em;
      right: 3.3em;
      top: 5.15em;
    }
  }
}
